/* CSS by Cameron Brice Jordan */

/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1d3557;
  --news-flash: #e63946;
  --watchdog-white: #f1faee;
  --truth-text: #333;
  --story-subtitle: #457b9d;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: "Merriweather", serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: var(--watchdog-white);
}

#skip-link:focus {
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */
header {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  position: relative;
  z-index: 1;
}

header p {
  margin-bottom: 20px;
}

#navigation {
  padding: 20px 30px;
}

#navigation h1 {
  margin-bottom: 10px;
}

.menu-button {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: var(--news-flash);
  color: #fff;
  display: inline-grid;
  place-items: center;
  text-transform: uppercase;
}

.menu-button:hover {
  background: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  cursor: pointer;
  transition: var(--transition);
}

.menu {
  position: relative;
  display: none;
  background: var(--blue-bulletin);
  z-index: 2;
}

#menu-toggle:checked + .menu-button + .menu {
  display: block;
}

.menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0.5rem 0;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid var(--blue-bulletin);
  width: 100%;
  transition: var(--transition);
  text-align: center;
  font-family: var(--font-body);
}

.menu li a:hover,
.menu li a:focus {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}

/* ///ADD/// Global Layout Styles */
body {
  background-color: var(--watchdog-white);
}

video {
  position: relative;
  width: 100%;
}

h2 {
  margin: 50px 30px 0 30px;
}

#main-content p {
  margin: 10px 30px 0 30px;
}

.tagline {
  font-stretch: 75%;
}

#text-sign-up p {
  margin: 10px 30px;
}

.breaking-card {
  background-color: var(--news-flash);
  margin: 20px 30px;
  padding: 20px 30px;
  box-shadow: var(--shadow);
  border: 1.5px solid var(--blue-bulletin);
  transition: var(--zoom);
}

.breaking-card h3 {
  position: relative;
  padding: 0 0 10px 0;
}

.breaking-card p {
  margin: 10px 0;
}

.breaking-card h3::after {
  content: "";
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 0;
  height: 0.5px;
  background: var(--watchdog-white);
}

.breaking-card:hover {
  transform: scale(1.08);
  transition: var(--transition);
}

.featured-card {
  margin: 20px 30px;
  padding: 20px 30px;
  border: 0.5px solid var(--story-subtitle);
  box-shadow: var(--shadow);
  transition: var(--zoom);
}

.featured-card h3 {
  position: relative;
  padding: 0 0 10px 0;
}

.featured-card p {
  margin: 10px 0 0 0;
}

.featured-card h3::after {
  content: "";
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 0;
  height: 0.5px;
  background: var(--story-subtitle);
}

.featured-card:hover {
  transform: scale(1.08);
  transition: var(--transition);
}

form {
  background-color: var(--news-flash);
  margin: 10px 6%;
  padding: 4% 4%;
  box-shadow: var(--shadow);
  border: 1.5px solid var(--blue-bulletin);
}

form > label {
  display: block;
  text-align: left;
  margin-bottom: 0.75rem;
  color: var(--watchdog-white);
}

form input,
form select {
  display: block;
  width: 95%;
  margin-bottom: 20px;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid var(--blue-bulletin);
}

form button {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: 1.1rem;
}

form button:hover {
  background-color: var(--watchdog-white);
  border-color: var(--blue-bulletin);
  color: var(--blue-bulletin);
  transition: var(--transition);
}

fieldset {
  border: 1.5px solid var(--blue-bulletin);
  border-radius: 2px;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
  color: var(--watchdog-white);
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
}

fieldset input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 2px;
  border: 2px solid var(--watchdog-white);
  display: inline-block;
  accent-color: var(--blue-bulletin);
}

fieldset label {
  display: inline-block;
}

fieldset input[type="checkbox"] + label::after {
  content: "";
  display: block;
}

footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  margin-top: 2rem;
  padding: 10px 0;
}

footer h2 {
  margin: 20px 30px 0 30px;
}

#footer-menu {
  margin: 10px 30px;
}

#footer-menu li {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

footer li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  margin: 0 0 5px 0;
  background-color: var(--news-flash);
  border: 1px solid var(--news-flash);
  color: var(--watchdog-white);
  text-transform: uppercase;
  transition: var(--transition);
  font-family: var(--font-body);
  text-decoration: none;
}

#footer-menu li a:hover,
#footer-menu li a:focus {
  background-color: var(--blue-bulletin);
}

small {
  display: block;
  text-align: center;
  font-weight: 300;
  padding: 1rem 0rem;
  font-family: var(--font-body);
}

/* ///ADD/// Global Text Styles */
h1 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 36px;
}

h2 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 24px;
}

h3 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5rem;
}

blockquote {
  font-family: var(--font-heading);
  display: block;
  text-align: center;
  margin: 20px 0;
}

.tagline {
  font-family: var(--font-heading);
}

form {
  font-family: var(--font-body);
}

form button {
  font-family: var(--font-body);
  font-size: 16px;
}

p,
nav label {
  font-family: var(--font-body);
  font-size: 16px;
}

.breaking-card {
  color: var(--watchdog-white);
}

fieldset legend {
  text-transform: uppercase;
}

/* ///ADD/// medium styles 620px */
@media only screen and (min-width: 620px) {
  .menu-button {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  .menu {
    position: static;
    transform: none;
    display: flex !important;
    flex-wrap: wrap;
    background: transparent;
    width: auto;
    margin: 0.75rem 0 0 0;
    padding: 0;
    justify-content: flex-start;
    gap: 0.8rem;
  }

  .menu li {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }

  .menu li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--news-flash);
    border: 1px solid var(--news-flash);
    color: var(--watchdog-white);
    text-transform: uppercase;
    transition: var(--transition);
  }

  .menu li a:hover,
  .menu li a:focus {
    background-color: var(--blue-bulletin);
  }

  #navigation {
    padding: 20px 3rem;
  }

  #main-content h2 {
    margin: 50px 3rem 0 3rem;
  }

  #main-content p {
    margin: 10px 3rem 0 3rem;
  }

  #breaking-news-h2,
  #featured-articles-h2 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #breaking-news,
  #featured-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 1rem;
  }

  .breaking-card,
  .featured-card {
    margin: 20px 0 0 0;
  }

  #text-sign-up h2,
  #text-sign-up p {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #name-input {
    grid-area: name-input;
  }
  #name {
    grid-area: name;
  }
  #mobile-input {
    grid-area: mobile-input;
  }
  #mobile {
    grid-area: mobile;
  }
  #notification-preferences {
    grid-area: notification-preferences;
  }
  #submit-form {
    grid-area: submit-form;
  }

  form {
    display: grid;
    grid-template-areas:
      "name-input mobile-input"
      "name mobile"
      "notification-preferences notification-preferences"
      "submit-form submit-form";
    column-gap: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #cb-group {
    display: flex;
    flex-wrap: wrap;
  }

  #cb-group > div {
    flex: 1 1 50%;
  }

  footer div {
    max-width: 1024;
    margin: 0 auto;
    align-items: center;
  }

  footer h2 {
    margin: 20px 3rem 0 3rem;
  }

  #footer-menu {
    margin: 10px 3rem;
  }
}

/* ///ADD/// large styles 920px */
@media only screen and (min-width: 920px) {
  #featured-articles {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  form {
    column-gap: 0.3rem;
  }

  #cb-group > div {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

/* ///ADD/// x-large styles 1024px */
@media only screen and (min-width: 1024px) {
  #navigation,
  main,
  footer h2,
  footer ul,
  footer small {
    max-width: 1024px;
    margin: 0 auto;
  }

  footer h2 {
    margin: 20px 3rem 0 3rem;
  }

  #footer-menu {
    margin: 10 3rem;
  }
}
/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body:not(.light-mode) {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}

body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}

body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  nav:has(#menu-toggle:checked) {
    outline: 2px dashed var(--news-flash);
  }
}
